## In this file, data sets from Jan 2021 to Aug 2021 have been loaded from the citibike website. Jan data set looked different from the Feb onwards hence it was decided to skip Jan data set. the remaining data sets were joined and exported to have one combined data set which was used to generate tableau visulations. 

citibike data link: https://s3.amazonaws.com/tripdata/index.html

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import datetime

In [2]:
# File to Load
file_to_load = "./CSV/202101-citibike-tripdata.csv"

# Read File and store into Pandas data frame
Jan_data = pd.read_csv(file_to_load)

#display dataframe
Jan_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2513,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,0
1,2519,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,0
2,1207,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,1
3,2506,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,1
4,959,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,1

In [3]:
# File to Load
file_to_load = "./CSV/202102-citibike-tripdata.csv"

# Read File and store into Pandas data frame
Feb_data = pd.read_csv(file_to_load)

#display dataframe
Feb_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member

In [4]:
# File to Load
file_to_load = "./CSV/202103-citibike-tripdata.csv"

# Read File and store into Pandas data frame
Mar_data = pd.read_csv(file_to_load)

#display dataframe
Mar_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4D69477D59E576ED,docked_bike,2021-03-22 18:30:56,2021-03-22 18:37:15,Willoughby Ave & Wyckoff Ave,5010.02,Cedar St & Myrtle Ave,4751.01,40.705614,-73.921530,40.697842,-73.926241,member
1,7F563DA4AC198E0A,docked_bike,2021-03-30 11:47:49,2021-03-30 12:00:40,Franklin Ave & Myrtle Ave,4715.01,Jackson St & Leonard St,5332.10,40.694546,-73.958013,40.716380,-73.948213,member
2,C5E0F4FEDA9C2F86,docked_bike,2021-03-04 19:53:50,2021-03-04 20:11:53,Adam Clayton Powell Blvd & W 141 St,7893.05,Goble Pl & Macombs Rd,8269.01,40.819241,-73.941057,40.844075,-73.917256,member
3,61B726C1884DB04C,docked_bike,2021-03-20 13:05:54,2021-03-20 13:11:16,Bayard St & Baxter St,5351.03,Hudson St & Reade St,5359.10,40.716021,-73.999743,40.716250,-74.009106,member
4,7807BB9281BCFD8D,docked_bike,2021-03-20 08:31:09,2021-03-20 08:35:41,Bayard St & Baxter St,5351.03,Hudson St & Reade St,5359.10,40.716021,-73.999743,40.716250,-74.009106,member

In [5]:
# File to Load
file_to_load = "./CSV/202104-citibike-tripdata.csv"

# Read File and store into Pandas data frame
Apr_data = pd.read_csv(file_to_load)

#display dataframe
Apr_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7099F9531C9DA16D,docked_bike,2021-04-28 17:27:24,2021-04-28 17:34:31,DeKalb Ave & Hudson Ave,4513.06,Douglass St & 4 Ave,4175.14,40.689888,-73.981013,40.679279,-73.981540,member
1,EDC6F1B1A69A7863,docked_bike,2021-04-27 17:28:02,2021-04-27 17:33:07,E 47 St & Park Ave,6584.12,W 52 St & 6 Ave,6740.01,40.755102,-73.974986,40.761330,-73.979820,member
2,431A76830E10408A,docked_bike,2021-04-28 18:05:19,2021-04-28 18:10:48,E 47 St & Park Ave,6584.12,W 52 St & 6 Ave,6740.01,40.755102,-73.974986,40.761330,-73.979820,member
3,C00248A0ADC009FA,docked_bike,2021-04-20 21:35:47,2021-04-20 21:56:31,Irving Ave & DeKalb Ave,4898.02,Division Ave & Hooper St,5045.05,40.702700,-73.920950,40.706842,-73.954435,casual
4,BE78810D746EE516,docked_bike,2021-04-30 00:34:54,2021-04-30 01:03:29,3 Ave & E 112 St,7543.15,E 115 St & Lexington Ave,7599.09,40.795508,-73.941606,40.797911,-73.942300,casual

In [6]:
# File to Load
file_to_load = "./CSV/202105-citibike-tripdata.csv"

# Read File and store into Pandas data frame
May_data = pd.read_csv(file_to_load)

#display dataframe
May_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E12103A91226099A,docked_bike,2021-05-06 17:25:01,2021-05-06 17:45:25,Broadway & W 60 St,6948.11,1 Ave & E 78 St,7020.09,40.769155,-73.981918,40.771404,-73.953517,member
1,26A3DC47FE0EA3A3,docked_bike,2021-05-13 12:48:08,2021-05-13 13:07:37,Broadway & W 25 St,6173.08,E 2 St & Avenue B,5515.02,40.742868,-73.989186,40.722174,-73.983688,member
2,A99F2E1D627B088F,docked_bike,2021-05-16 08:30:13,2021-05-16 08:45:47,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member
3,43E79A45997B7390,docked_bike,2021-05-01 08:38:14,2021-05-01 08:54:27,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member
4,8B3CC649F4F58816,docked_bike,2021-05-09 08:12:31,2021-05-09 08:27:05,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member

In [7]:
# File to Load
file_to_load = "./CSV/202106-citibike-tripdata.csv"

# Read File and store into Pandas data frame
Jun_data = pd.read_csv(file_to_load)

#display dataframe
Jun_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6339C86D47EC0FAB,docked_bike,2021-06-02 17:18:45,2021-06-02 17:26:17,W 51 St & 6 Ave,6740.10,E 66 St & Madison Ave,6969.08,40.760659,-73.980420,40.768009,-73.968453,member
1,CDE3C147775B4002,docked_bike,2021-06-04 21:01:46,2021-06-04 21:32:09,W 56 St & 10 Ave,6955.01,E 9 St & Avenue C,5616.01,40.768254,-73.988639,40.725213,-73.977688,member
2,D335C3F6B412B846,docked_bike,2021-06-15 16:39:36,2021-06-15 16:55:02,E 56 St & Madison Ave,6732.01,E 16 St & 5 Ave,6022.04,40.761573,-73.972628,40.737262,-73.992390,member
3,8DA6810777C89735,docked_bike,2021-06-08 11:36:40,2021-06-08 11:39:41,E 68 St & 3 Ave,6896.16,1 Ave & E 62 St,6753.08,40.767128,-73.962246,40.761227,-73.960940,member
4,62D9B66A3A1D9FDF,docked_bike,2021-06-18 12:48:43,2021-06-18 13:04:14,E 48 St & 5 Ave,6626.01,W 20 St & 8 Ave,6224.05,40.757245,-73.978059,40.743453,-74.000040,member

In [8]:
# File to Load
file_to_load = "./CSV/202107-citibike-tripdata.csv"

# Read File and store into Pandas data frame
Jul_data = pd.read_csv(file_to_load)

#display dataframe
Jul_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,247BA541A9674BF3,classic_bike,2021-07-09 16:05:36,2021-07-09 16:18:09,5 Ave & E 93 St,7372.10,Frederick Douglass Blvd & W 117 St,7688.12,40.785785,-73.957481,40.805159,-73.954692,member
1,125C9ACA270A5E2D,classic_bike,2021-07-11 16:23:35,2021-07-11 16:29:07,5 Ave & E 93 St,7372.10,E 88 St & Park Ave,7293.10,40.785785,-73.957481,40.781411,-73.955959,member
2,2E26264BCC15BA05,classic_bike,2021-07-23 06:22:40,2021-07-23 06:36:13,34 St & 38 Ave,6453.02,McGuinness Blvd & Eagle St,5977.01,40.752443,-73.929737,40.735550,-73.952840,member
3,A56D23A088563424,classic_bike,2021-07-05 16:08:10,2021-07-05 16:36:00,Lenox Ave & W 111 St,7602.05,5 Ave & E 78 St,7161.08,40.798786,-73.952300,40.776321,-73.964274,casual
4,1451F4BB884C5335,classic_bike,2021-07-26 12:28:57,2021-07-26 12:30:21,6 Ave & Broome St,5610.09,6 Ave & Canal St,5500.07,40.724310,-74.004730,40.722438,-74.005664,casual

In [9]:
# File to Load
file_to_load = "./CSV/202108-citibike-tripdata.csv"

# Read File and store into Pandas data frame
Aug_data = pd.read_csv(file_to_load)

#display dataframe
Aug_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FB6B89D05B67EBED,classic_bike,2021-08-24 15:59:57,2021-08-24 16:42:07,Broadway & E 21 St,6098.10,Central Park North & Adam Clayton Powell Blvd,7617.07,40.739888,-73.989586,40.799484,-73.955613,member
1,E13DA3E30CEF8DFC,classic_bike,2021-08-18 13:12:01,2021-08-18 13:21:26,E 13 St & 2 Ave,5820.08,Henry St & Grand St,5294.04,40.731539,-73.985302,40.714211,-73.981095,member
2,56617490AB8AE69C,classic_bike,2021-08-17 14:31:23,2021-08-17 14:35:34,E 95 St & 3 Ave,7365.13,E 84 St & Park Ave,7243.04,40.784903,-73.950503,40.778627,-73.957721,member
3,CA908B271C7D6663,classic_bike,2021-08-11 10:00:12,2021-08-11 10:31:01,Madison Ave & E 82 St,7188.13,E 84 St & Park Ave,7243.04,40.778131,-73.960694,40.778627,-73.957721,casual
4,3E170CE1F4FE179D,classic_bike,2021-08-12 19:28:38,2021-08-12 19:48:50,E 74 St & 1 Ave,6953.08,E 84 St & Park Ave,7243.04,40.768974,-73.954823,40.778627,-73.957721,casual

In [10]:
list(Jan_data.columns)

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [11]:
list(Mar_data.columns)

['ride_id',
 'rideable_type',
 'started_at',
 'ended_at',
 'start_station_name',
 'start_station_id',
 'end_station_name',
 'end_station_id',
 'start_lat',
 'start_lng',
 'end_lat',
 'end_lng',
 'member_casual']

since Jan data-set is different, the lookback window used is Feb 2021- Aug 2021, next appending all to create one large DF

In [12]:
Feb_data = Feb_data.append(Mar_data, ignore_index=True)

In [13]:
Feb_data = Feb_data.append(Apr_data, ignore_index=True)

In [14]:
Feb_data = Feb_data.append(May_data, ignore_index=True)

In [15]:
Feb_data = Feb_data.append(Jun_data, ignore_index=True)

In [16]:
Feb_data = Feb_data.append(Jul_data, ignore_index=True)

In [17]:
Feb_data = Feb_data.append(Aug_data, ignore_index=True)

In [18]:
all_data = Feb_data
all_data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16307438,98DFC8061B88EC01,classic_bike,2021-08-31 17:52:14,2021-08-31 18:11:03,Flushing Ave & Vanderbilt Ave,4762.05,6 Ave & 9 St,3803.09,40.697950,-73.970776,40.668127,-73.983776,member
16307439,FF421A26C387DA70,classic_bike,2021-08-16 18:42:15,2021-08-16 18:59:23,W 147 St & Adam Clayton Powell Blvd,7971.07,W 116 St & Amsterdam Ave,7692.11,40.822810,-73.937413,40.806758,-73.960708,member
16307440,3F255853B973D4CE,classic_bike,2021-08-09 16:58:49,2021-08-09 17:13:51,W 82 St & Central Park West,7304.08,W 110 St & Amsterdam Ave,7646.04,40.782750,-73.971370,40.802692,-73.962950,casual
16307441,2DD0EA88A42EE3A8,classic_bike,2021-08-15 12:24:58,2021-08-15 12:39:29,Grand St & Elizabeth St,5382.06,Greenwich Ave & Charles St,5914.08,40.718822,-73.995960,40.735238,-74.000271,casual
16307442,2F6FDF9D53935229,classic_bike,2021-08-08 17:15:03,2021-08-08 17:24:15,Bedford Ave & Nassau Ave,5550.05,Devoe St & Morgan Ave,5282.02,40.723117,-73.952123,40.713811,-73.935150,member

In [19]:
all_data.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [20]:
all_data['started_at'] = pd.to_datetime(all_data['started_at'])

In [21]:
all_data['ended_at'] = pd.to_datetime(all_data['ended_at'])

In [22]:
all_data.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

calculating trip duration

In [23]:
all_data['trip duration'] =all_data['ended_at'] - all_data['started_at']

In [24]:
all_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip duration
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual,0 days 00:05:43
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member,0 days 00:17:36
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual,0 days 00:32:12
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member,0 days 00:18:49
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member,0 days 00:04:58

In [25]:

all_data['trip duration mins'] = (all_data['trip duration'].dt.total_seconds())/60

In [26]:
all_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip duration,trip duration mins
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual,0 days 00:05:43,5.716667
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member,0 days 00:17:36,17.600000
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual,0 days 00:32:12,32.200000
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member,0 days 00:18:49,18.816667
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member,0 days 00:04:58,4.966667

In [27]:
all_data['startmonth'] = all_data['started_at'].dt.month
all_data['endmonth'] = all_data['ended_at'].dt.month

In [28]:
all_data['endmonth'].value_counts()

6    3177380
7    3083926
8    3073004
5    2724114
4    2067402
3    1531008
2     649916
9        693
Name: endmonth, dtype: int64

In [29]:
output_data_file = "./CSV/citibike_combined_df.csv"
all_data.to_csv(output_data_file, index = False)

In [30]:
all_data['startmonth'].value_counts()

6    3177517
7    3084537
8    3072478
5    2724165
4    2067669
3    1531094
2     649983
Name: startmonth, dtype: int64